<a href="https://colab.research.google.com/github/Pravallika-Bollu/pravallika_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [3]:
# write your answer here
str=input("string:")
count=0
for s in str:
  count=count+1
print("length of a string is",count)

string:pravallika
length of a string is 10

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
# write your answer here
def char_frequency(str):
  dict={}
  for k in str:
    keys=dict.keys()
    if k in keys:
      dict[k]+=1
    else:
        dict[k]=1
  return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [5]:
# write your answer here
def sum_list(items):
  sum=0
  for i in items:
    sum+=i
  return sum
print(sum_list([9,11,45,32]))

97

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [8]:
# write your answer here
def change_char(string):
  char=string[0]
  string=string.replace(char,'$')
  string=char+string[1:]
  return string
print(change_char('people'))

peo$le

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [10]:
# write your answer here
a=float(input("Enter a value:"))
b=float(input("Enter b value:"))
p=a/b
s=3.14*((1+p)*(1+p)*(1+p))
print(s)

Enter a value:5
Enter b value:2
134.6275

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic={}
for a in (dic1,dic2,dic3):dic.update(a)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [12]:
# write your answer here
tuple=("B","o","l","l","u",9)
print("p" in tuple)
print(9 in tuple)

False
True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [13]:
# write your answer here
values=set([4,3,8,9,2,1,6])
print("maximum in a set:",max(values))
print("minimum in a set:",min(values))

maximum in a set: 9
minimum in a set: 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [31]:
# write your answer here
import random
student_list=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159','msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
random.shuffle(student_list)
def divide_chunks(l,n):
  for r in range(0,len(l),n):    
    yield (l[r:r+n])
n=4
s=list(divide_chunks(student_list,n))
print(s)

[['yye0005', 'rrk0058', 'spk0057', 'dd0420'], ['sg0940', 'nm0547', 'pn0159', 'dy0091'], ['vmb0067', 'rak0120', 'pc0353', 'at0768'], ['ss1995', 'msp0174', 'at0739', 'vl0135'], ['mv0299', 'ds0761', 'bk0301', 'tv0119'], ['rs0850', 'snd0097']]